*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

}
body{
   height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card{
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 1rem;
    position: relative;
    width: 27rem;
    height: 24rem;
    border-radius:1rem ;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

    overflow: hidden;
    background-color: rgb(232, 238, 177);
    
   

    
}
.trans{
    width: 25rem;
    color:white;
    padding: 0.8rem;
    z-index: 1;
    transition: all 0.8s;
    font-size: 1.4rem;
    background: linear-gradient(rgba(0,0,0, 0.5), rgba(0,0,0, 0.4));
    position: absolute;
    bottom: 0;
    left: 1rem;
    transform: translateY(100%);

  
}
.card:hover .trans{
    transform: translateY(0%);

}
.imag{
    margin-top: 1rem;
   width: 25rem;
   height: 20rem;
}
